/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
}

.modular.container {
  max-width: 1080px;
}

.post-page.container {
  max-width: 900px;
}

html,
body {
  scroll-behavior: smooth;
}
